<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entendendo Diretórios</title>
</head>
<body>
    <img src="../../imagens/imagem1.jpg" alt="imagem1.jpg" title="imagem1.jpg" width="300" height="" /> </br>
    <img src="../../imagens/imagem2.jpg" alt="imagem2.jpg" title="imagem2.jpg" width="300" height="" /> </br>
    <img src="../../imagens/imagem3.jpg" alt="imagem3.jpg" title="imagem3.jpg" width="300" height="" /> </br>
</body>
</html>